<!-- <router-outlet></router-outlet> -->

<!-- <ul>
    <li *ngFor="let note of notes$ | async">
        {{ note | json }}
        Key: {{ note.key }}, Value: {{ note.description }}
        {{ note.description }}
        {{ note.description }}
    </li>
</ul> -->
<h1>Todo App</h1>
<br />

<input type="text" class="todo-input" placeholder="Enter task" #newNote />
<button class="add-button" (click)="addNotes(newNote.value)">Add Note</button>

<h3 *ngFor="let note of notes">
    <b>* {{ note.description }} <br /></b>
    <p class="categ">Category: {{ note.category }}</p>
    <div>
        <input
            type="text"
            class="todo-input"
            placeholder="Enter here to edit task"
            #noteUpdate
        />
        <button
            class="update-button"
            (click)="updateNotes(noteUpdate.value, note.id)"
        >
            Update Note
        </button>
    </div>
    <button class="delete-button" (click)="deleteNotes(note.id)">
        Delete Note
    </button>

    <select name="category" id="category" [(ngModel)]="selectedCategory">
        <option value="" disabled selected>Select Category</option>
        <!-- <option value="option1">test1</option>
        <option value="option2">test2</option>
        <option value="option3">test3</option> -->
        <option *ngFor="let item of category" [value]="item.id">
            {{ item.type }}
        </option>
    </select>
</h3>

<!-- <ng-container *ngFor="let note of notes$ | async">
    {{ note | json }}
     Key: {{ note.key }}, Value: {{ note.description }}
        {{ note.description }} -->
<!-- </ng-container> -->

<!-- <h1 *ngFor="let note of notes">
    <b>{{ note.description }}</b>
</h1> -->
