<!-- <router-outlet></router-outlet> -->
<h1>Todo App</h1>
<br />

<input type="text" class="todo-input" placeholder="Enter task" #newNote />
<button class="add-button" (click)="addNotes(newNote.value)">Add Note</button>

<h3 *ngFor="let note of notes">
    <b>* {{ note.description }} <br /></b>
    <!-- <p class="categ">Category: {{ note.type }}</p> -->

    <p class="categ">
        Category: <span *ngIf="note.type; else noneText">{{ note.type }}</span>
    </p>
    <ng-template #noneText>none</ng-template>
    <div>
        <input
            type="text"
            class="todo-input"
            placeholder="Enter here to edit task"
            #noteUpdate
        />
        <button
            class="update-button"
            (click)="updateNotes(noteUpdate.value, note.id)"
        >
            Update Note
        </button>
    </div>
    <button class="delete-button" (click)="deleteNotes(note.id)">
        Delete Note
    </button>

    <select
        #choice
        name="category"
        id="category"
        (change)="updateCategories(choice.options[choice.value].text, note.id)"
    >
        <option [value]="" disabled selected>Select Category</option>
        <!-- <option value="option1">test1</option>
        <option value="option2">test2</option>
        <option value="option3">test3</option> -->
        <option *ngFor="let item of category" [value]="item.id">
            {{ item.type }}
        </option>
    </select>
</h3>
<br /><br />
<!-- {{ data$ | async | json }} -->
<!-- ~~~~~~~~~~~~~~~~~~~~ -->
<!-- ~~~~~~~~~~~~~~~~~~~~~ -->
<!-- ~~~~~~~~~~~~~~~~~~~~~ -->

<div *ngIf="data$">
    <h2>Notes</h2>
    <ul>
        <li *ngFor="let data of data$.notes">
            {{ data.description }}
        </li>
    </ul>
    <h2>Categories</h2>
    <ul>
        <li *ngFor="let data of data$.categories">
            {{ data.type }}
        </li>
    </ul>
</div>

<!-- <ng-container *ngFor="let note of notes$ | async">
    {{ note | json }}
     Key: {{ note.key }}, Value: {{ note.description }}
        {{ note.description }} -->
<!-- </ng-container> -->

<!-- <h1 *ngFor="let note of notes">
    <b>{{ note.description }}</b>
</h1> -->
