<div  class="flex justify-center items-center">
    <mat-form-field class="flex-shrink-0 pt-5">
        <mat-select [(value)]="activeLang" (selectionChange)="setActiveLang($event.value)">
            <mat-option *ngFor="let lang of availableLangs; trackBy: trackByFn" [value]="lang.id">
                {{ lang.label }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<!-- Flag image template -->
<ng-template
    let-lang
    #flagImage>
    <span class="relative w-6 shadow rounded-sm overflow-hidden">
        <span class="absolute inset-0 ring-1 ring-inset ring-black ring-opacity-10"></span>
        <img
            class="w-full"
            [src]="'assets/images/flags/' + flagCodes[lang].toUpperCase() + '.svg'"
            [alt]="'Flag image for ' + lang">
    </span>
</ng-template>
